<form>
    <div class="bd-example">
        <div class="form-floating mb-3">
            <input name="nombre" type="text" [(ngModel)]="item.nombre" class="form-control" id="nombreInput" placeholder="Nombre">
            <label for="nombreInput">Nombre Usuario</label>
        </div>
        <div class="form-floating mb-3">
            <input name="password" type="text" [(ngModel)]="item.password" class="form-control" id="passwordInput" placeholder="password producto">
            <label for="passwordInput">Password </label>
        </div>
    </div>
    <button type="button" (click)="salir()" class="btn btn-warning">Cancelar</button>
    <button type="button" (click)="enviar()" class="btn btn-success">Guardar</button>

</form>